body {
  background-color: #fff;
  color: #444;
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand';
  padding-top: 5%;
  word-wrap: break-word;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
